body {
  padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
  // background-color: $background-color;
  height: 100%;
  margin-left: 20px !important;
  margin-right: 20px !important;
}

@import "variables";
@import "highlightjs/monokai_sublime";
@import "layout/*";
@import "components/*";
@import "about";
@import "blog";
