<footer>
  <div class="social">
    <a href="mailto:coisnepe@gmail.com" class="social-links"><i class="fa fa-at" class="important"></i></a>
    <a href="http://www.github.com/coisnepe" class="social-links"><i class="fa fa-github"></i></a>
    <a href="http://www.twitter.com/coisne_pe" class="social-links"><i class="fa fa-twitter"></i></a>
  </div>
</footer>
