<footer>
  <ul>
    <li><a href="http://pe.coisne.me">http://pe.coisne.me</a></li>
    <li><a href="http://www.github.com/coisnepe">http://www.github.com/coisnepe</a></li>
    <li><a href="http://www.twitter.com/coisne_pe">http://www.twitter.com/coisne_pe</a></li>
  </ul>
</footer>
