.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: $footer-height;
  background-color: $transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 40px;
  .social {
    height: 100%;
    text-align: center;
    width: 50%;
    display:flex;
    align-items: center;
    justify-content: space-around;
    text-size: 50px;
  }
}
