footer {
  position: relative;
  bottom: 0;
  margin-bottom: 0px;
  margin-top: 50px;
  text-align: center;
  width: 100%;
  a {
    font-size: 35px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
        text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
    &:hover {
      color: black;
    }
  }
}

.twitter:hover {
  color: $twitter-color;
}

.linkedin:hover {
  color: $linkedin-color;
}
