footer {
  @include outer-container;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 200px;
  background-color: $light-grey;
  max-width: 100%;
  margin: 0px 0px 0px 0px;
  .social {
    width: 100%;
    text-align: center;
  }
  .social-links {
    font-size: 100px;
    color: $ghost-white;
  }
}
