<div class="profile">
  <div class="photo">
    <img src="http://www.placehold.it/300x300" alt="" width="" height="" border="0" />
  </div>
  <div class="text">
    <h1>Paul-Etienne Coisne</h1>
    <h4>Full-Stack Freelance developer</h4>
  </div>
</div>
