<div class="profile">
  <div class="photo">
    <img src="https://avatars2.githubusercontent.com/u/13304454?v=3&s=460" alt="" width="" height="" border="0" />
  </div>
  <div class="text">
    <h1>Paul-Etienne Coisne</h1>
    <h4>Full-Stack Freelance developer</h4>
  </div>
</div>
