<div class="container">
  <div class="row about">
    <div class="photo">
      <%= image_tag "https://avatars2.githubusercontent.com/u/13304454?v=3&s=460" %>
    </div>
    <div class="text text-center">
      <h1>Paul-Etienne Coisne</h1>
      <h4>Full-Stack Freelance developer</h4>
      <hr>
      <p>I've been a technology addict since my early childhood</br>
          I focus on full-stack development: Ruby on Rails, HTML5/CSS3/jQuery</br>
          In addition to web development I enjoy programming in Ruby and Python
      </p>
    </div
  </div>
</div>
